.workspace {
    display: flex;
    flex-direction: row;

    width: calc(100vw - 16px); //body has a padding of 8px on the left and right

    >* {
        border: 1px solid gray;
        padding: .5rem
    }

    &__elements {
        flex: 1;
    }
    &__content {
        flex: 2;
    }
    &__elements-list {
        border-top: 1px solid gray;
        display: flex;
        flex-wrap: wrap;

        >* {
            
        }
    }
}

.workspace-element {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid gray;
    cursor: pointer;

    width: 75px;
    height: 75px;
    text-align: center;

    font-family: inherit;
    background-color: inherit;

    > h3 {
        margin: .5rem 0;
    }
}

.form-container {
    border: 1px solid purple;
    padding: .5rem;
}
